h1 {
    background-color: #0367A6;
    font: normal bolder 2em arial;
    color: white;
    text-align: center;
}

* {
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    background-color: rgb(50, 20, 35);
    color: white;
    font-size: 1.2em;
}